<div class="alert alert-succes" *ngIf="error">{{error}}</div>
<form class="col-md-4 offset-4 mt-5 mb-5 bg-light card card-body" #form="ngForm" (ngSubmit)="submitData(form)">
    <h1 class="bg-dark text-light text-center ">Remove Candidate</h1>
    <div class="form-group">
        <input class="form-control" type="number" name="id" id="id" placeholder="Enter Candidate id" #id="ngModel" ngModel
            required>
    </div>
    <div *ngIf="id.touched && id.invalid">
        <p class="alert alert-danger" *ngIf="id.errors.required">This field is required</p>
    </div>
    <div>
        <button type="reset" class="btn btn-danger float-left" [disabled]="form.invalid">Reset</button>
        <button type="submit" class="btn btn-success float-right" [disabled]="form.invalid">Delete</button>
    </div>
</form>