<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Flat Id</th>
            <th>Flat Type</th>
            <th>Cost</th>
            <th>Status</th>
            <th>Approved</th>
            <th>Rejected</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let f of flats'>
            <td>{{f.flatId}}</td>
            <td>{{f.flatType}}</td>
            <td>{{f.cost}}</td>
            <td>{{f.status}}</td>
            <td><button class="btn btn-success" (click)='approved(f)'>Approved</button></td>
            <td><button class="btn btn-danger" (click)='rejected(f)'>Rejected</button></td>
        </tr>
    </tbody>
</table>
