<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Company</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products">
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.company}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>
