<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Stock Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/addproduct">Add Product</a>
        <a class="nav-item nav-link" routerLink="/updateproduct">Update Product</a>
        <a class="nav-item nav-link" routerLink="/getall">All products</a>
        <a class="nav-item nav-link" routerLink="/searchproduct">Search Product</a>
        <a class="nav-item nav-link" routerLink="/order">Add to cart</a>
      </div>
    </div>
  </nav>
